body,p,h1,h2,h3,h4,h5,h6,dl,dd{margin:0;font-size:12px;}
form{margin:0;}
input{margin:0;padding:0;}
select{margin:0;}
th,td{padding:0;}
table{boder-collapse:collapse;}


.main{
	width:250px;
	height:216px;
	border:2px solid grey;
	margin:100px auto;
	border-radius:3px;

}

#txt{
	width:246px;
	height:50px;
}

th,td{
	font-size:12px;
	font-family:"微软雅黑";
	text-align:center;
	line-height:center;
	margin:10px;

}

.not{
	width:60px;
	height:30px;
	background:none;
}
.number,
.calculate{
	width:60px;
	height:30px;
	background:#eceaea;
	border:none;
	border-radius:3px;

}